.DS_Store
boolesche algebra/.ipynb_checkpoints/Boolesche Algebra in Python-checkpoint.ipynb
teilbarkeit/Teilbarkeit und Primzahlen Backup.ipynb
teilbarkeit/.ipynb_checkpoints/Teilbarkeit und Primzahlen Backup-checkpoint.ipynb
teilbarkeit/.ipynb_checkpoints/Teilbarkeit und Primzahlen-checkpoint.ipynb
verschlüsselung/.Verschlüsselung.ipynb.icloud
verschlüsselung/.ipynb_checkpoints/.Verschlüsselung-checkpoint.ipynb.icloud
zahlensysteme/.DS_Store
zahlensysteme/.ipynb_checkpoints/Boolesche Algebra in Python-checkpoint.ipynb
zahlensysteme/.ipynb_checkpoints/Zahlensysteme in Python-checkpoint.ipynb
hashing/.ipynb_checkpoints/Hashfunktionen-checkpoint.ipynb
